.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 340px;
    left: 75px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    left: 210px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 230px;
    top: 125px;
    z-index: 4;
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    left: 500px;
    top: 200px;
    z-index: 5;
  }