.caixa{
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}
.wah{
    height: 50px;
    width: 50px;
}
.pad{
    padding: 20px;
}
.marg{
    margin: 30px;
}
.bord{
    border: 5px solid black;
}
